@use '../global';

header {
    .home {
        padding-top: 96px;
        padding-bottom: 237px;

        &__sides {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__left {
                display: flex;
                flex-direction: column;

                p {
                    margin-bottom: 25px;
                    font-weight: 700;
                    font-size: 23px;
                    line-height: 130%;
                    letter-spacing: 0.04em;
                    text-transform: capitalize;
                    font-feature-settings: 'tnum' on, 'lnum' on;
                    color: #FFFFFF;
                }

                h1 {
                    max-width: 555px;
                    font-weight: 700;
                    font-size: 90px;
                    line-height: 130%;
                    letter-spacing: 0.04em;
                    text-transform: capitalize;
                    color: #FFFFFF;
                }

                span {
                    max-width: 453px;
                    margin-top: 20px;
                    margin-bottom: 40px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 175%;
                    letter-spacing: 0.04em;
                    color: #FFFFFF;
                }

                .home__btn {
                    width: 173px;
                    height: 44px;
                    border: 1px solid #FFFFFF;
                    border-radius: 100px;
                    -webkit-border-radius: 100px;
                    -moz-border-radius: 100px;
                    -ms-border-radius: 100px;
                    -o-border-radius: 100px;
                }
            }

            &__right img {
                max-width: 100%;
                height: auto;
            }
        }

        @media (max-width: 1200px) {
            &__sides {
                flex-direction: column;
                gap: 20px;

                &__left {
                    align-items: center;
                }
            }

        }
        @media (max-width: 540px) {
            &__sides{
                &__left{
                    text-align: center;
                }
            }
        }
    }
}

main{
    background: #F8F8F8;
    .main__top{
        position: relative;
        padding-top: 120px;
        padding-bottom: 120px;
        display: flex !important;
        flex-direction: column;
        h1{
            margin-bottom: 40px;
            font-weight: 500;
            font-size: 48px;
            line-height: 48px;
            letter-spacing: 0.03em;
            text-transform: capitalize;
            font-feature-settings: 'tnum' on, 'lnum' on;
            color: #BB2339;
        }
        .owl-carousel, .owl-theme {
            display: flex;
            .owl-dots {
                display: none;
            }
        
            .owl-dot span {
                transition: all 0.5s ease !important;
                -webkit-transition: all 0.5s ease !important;
                -moz-transition: all 0.5s ease !important;
                -ms-transition: all 0.5s ease !important;
                -o-transition: all 0.5s ease !important;
            }
        
            .owl-dot.active span {
                display: inline-block;
                background-color: #f53838 !important;
            }
        
            .owl-nav {
                position: absolute;
                top: -10px;
                right: 35px;
                // transform: translateY(-50%);
                // width: 100%;
                display: flex;
                gap: 50px;
                align-items: center;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
            }   
            .owl-nav button * {
                position: absolute;
                top: -60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #ffffff;
                padding: 10px 10px 10px 15px;
                border: 1px solid #646464;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                -o-border-radius: 6px;
            }
            .owl-nav span{
                font-size: 40px;
                line-height: 20px;
            }
            .owl-nav span:hover{
                color: black;
            }
            .owl-nav button *:hover {
                // background: #f53838;
            }
        
            .item {
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 20px 20px 40px 20px;
                background: #ffffff;
                .contexts{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    p{
                        font-family: 'Open Sans';
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 25px;
                        color: #242424;
                    }
                    img{
                        margin-top: 20px;
                        margin-bottom: 20px;
                        max-width: 108px;
                    }
                    span{
                        font-family: 'Open Sans';
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 33px;
                        text-align: center;                        
                        color: #BB2339;
                    }
                }
            }
        }
        @media (max-width:540px) {
            .owl-carousel, .owl-theme {
                margin-top: 30px;
            }
        }
        .stylist{
            margin-top: 71px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: -50px;
            right: 0;
            margin-right: 0;
        }
    }
    .main__top__2{
        background: #ffffff;
        padding-top: 120px;
        padding-bottom: 120px;
        .meal__list{    
            h1{
                text-align: left;
            font-weight: 500;
            font-size: 48px;
            line-height: 48px;
            letter-spacing: 0.03em;
            text-transform: capitalize;
            font-feature-settings: 'tnum' on, 'lnum' on;
            color: #BB2339;
            }
            .meal__menus{
                display: flex;
                justify-content: space-between;
                .meal{
                    border: 1px solid #BB2339;
                    border-radius: 100px;
                    background: transparent;
                    padding: 5px 30px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 175%;
                    letter-spacing: 0.05em;
                    text-transform: capitalize;
                    color: #242424;
                    transition: 0.5s;
                    -webkit-border-radius: 100px;
                    -moz-border-radius: 100px;
                    -ms-border-radius: 100px;
                    -o-border-radius: 100px;
                    -webkit-transition: 0.5s;
                    -moz-transition: 0.5s;
                    -ms-transition: 0.5s;
                    -o-transition: 0.5s;
                }
                .meal:hover{
                    box-shadow: 0px 5px 50px -10px red;
                    transform: translateY(5px);
                    -webkit-transform: translateY(5px);
                    -moz-transform: translateY(5px);
                    -ms-transform: translateY(5px);
                    -o-transform: translateY(5px);
                }
                .meal:focus{
                    background: #BB2339;
                    color: #FFFFFF;
                }
                .meal:focus:hover{
                    transform: translateY(-5px);
                    -webkit-transform: translateY(-5px);
                    -moz-transform: translateY(-5px);
                    -ms-transform: translateY(-5px);
                    -o-transform: translateY(-5px);
                }
                
            }
            @media (max-width:1440px) {
                .meal__menus {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-gap: 10px 10px;
                }
            }
            @media (max-width:768px) {
                .meal__menus {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
            @media (max-width:540px) {
                .meal__menus {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
            .meal__cards{
                margin-top: 50px;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 30px 20px;
                .meal__card{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    padding: 20px 20px 40px 20px;
                    background: #FFFFFF;
                    transition: 0.5s;
                    border: 1px solid rgba(36, 36, 36, 0.1);
                    border-radius: 14px;
                    -webkit-border-radius: 14px;
                    -moz-border-radius: 14px;
                    -ms-border-radius: 14px;
                    -o-border-radius: 14px;
                    -webkit-transition: 0.5s;
                    -moz-transition: 0.5s;
                    -ms-transition: 0.5s;
                    -o-transition: 0.5s;
                    img{
                        max-width: 100%;
                        height: auto;
                    }
                    p{
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 25px;
                        text-align: center;
                        color: #242424;
                    }
                    span{
                        font-family: 'Open Sans';
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 33px;
                        text-align: center;
                        color: #BB2339;
                    }
                    &:hover{
                        box-shadow: 0px 2px 20px -5px red;
                        transform: translateY(-2px);
                        -webkit-transform: translateY(-2px);
                        -moz-transform: translateY(-2px);
                        -ms-transform: translateY(-2px);
                        -o-transform: translateY(-2px);
                    }
                }
            }
            @media (max-width:768px) {
                .meal__cards {
                    grid-template-columns: auto auto;
                }
            }
            @media (max-width:540px) {
                .meal__cards {
                    grid-template-columns: auto;
                }
            }
        }
    }
    .main__center__2{
        &__elements{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 120px;
            padding-bottom: 120px;
            p{
                font-weight: 700;
                font-size: 23px;
                line-height: 130%;
                letter-spacing: 0.04em;
                text-transform: capitalize;
                font-feature-settings: 'tnum' on, 'lnum' on;
                color: #242424;
            }
            img{
                margin-top: 8px;
                margin-bottom: 8px;
                max-width: 100%;
                height: auto;
            }
            h1{
                margin-bottom: 60px;
                font-weight: 500;
                font-size: 48px;
                line-height: 130%;
                letter-spacing: 0.03em;
                text-transform: capitalize;
                font-feature-settings: 'tnum' on, 'lnum' on;
                color: #BB2339;
            }
            .more{
                margin-top: 50px;
                padding: 8px 32px;
                border: 1px solid #BB2339;
                border-radius: 100px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                -ms-border-radius: 100px;
                -o-border-radius: 100px;
}
            .upd__cards{
                display: flex;
                align-items: center;
                gap: 35px;
                .upd__card{
                    max-width: 410px;
                    display: flex;
                    flex-direction: column;
                    border: 1px solid rgba(36, 36, 36, 0.1);
                    border-radius: 14px;
                    -webkit-border-radius: 14px;
                    -moz-border-radius: 14px;
                    -ms-border-radius: 14px;
                    -o-border-radius: 14px;
                    overflow: hidden;
                    .card__body{
                        
                        height: 352px;
                        background: url('../../images/home/main__center__2/cards/1.png');
                        // background: no-repeat;
                    }
                    .card__footer{
                        display: flex;
                        flex-direction: column;
                        padding: 20px 20px 30px 20px;
                        h2{
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 32px;
                            text-transform: capitalize;
                            font-feature-settings: 'tnum' on, 'lnum' on;
                            color: #242424;
                        }
                        span{
                            margin-top: 10px;
                            margin-bottom: 20px;
                            font-family: 'Open Sans';
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 24px;
                            color: #AAAAAA;
                            
                        }
                        .footer__bottom{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            h3{
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 16px;
                                letter-spacing: 0.04em;
                                color: #BB2339;
                            }
                            h4{
                                font-family: 'Open Sans';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 19px;
                                color: #242424;
                                opacity: 0.5;
                            }
                        }
                    }
                }
            }
            @media (max-width: 992px) {
                .card__footer{
                    text-align: center;
                    .footer__bottom{
                        margin-top: 10px;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
            @media (max-width: 768px) {
                .upd__cards{
                    display: flex;
                    flex-direction: column;
                }
            }

        }
    }  
    .main__bottom__2{
        background: #F4F4F4;
        &__elements{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .mb2__elements__left{
                display: flex;
                flex-direction: column;
                align-items: start;
                p{
                    font-weight: 700;
                    font-size: 23px;
                    line-height: 130%;
                    letter-spacing: 0.04em;
                    text-transform: capitalize;
                    font-feature-settings: 'tnum' on, 'lnum' on;
                    color: #242424;
                }
                h1{
                    font-weight: 500;
                    font-size: 48px;
                    line-height: 130%;
                    text-align: center;
                    letter-spacing: 0.03em;
                    text-transform: capitalize;
                    font-feature-settings: 'tnum' on, 'lnum' on;
                    color: #242424;
                }
                span{
                    max-width: 491px;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 175%;
                    letter-spacing: 0.04em;
                    color: #AAAAAA;
                }
            }
            .mb2__elements__right{
                .owl-carousel-2,
                    .owl-theme-2 {
                        display: flex;
                
                        .owl-dots {
                            display: none;
                        }
                
                        .owl-dot span {
                            transition: all 0.5s ease !important;
                            -webkit-transition: all 0.5s ease !important;
                            -moz-transition: all 0.5s ease !important;
                            -ms-transition: all 0.5s ease !important;
                            -o-transition: all 0.5s ease !important;
                        }
                
                        .owl-dot.active span {
                            display: inline-block;
                            background-color: #f53838 !important;
                        }
                
                        .owl-nav {
                            // transform: translateY(-50%);
                            // width: 100%;
                            display: flex;
                            gap: 50px;
                            align-items: center;
                            -webkit-transform: translateY(-50%);
                            -moz-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            -o-transform: translateY(-50%);
                        }
                
                        .owl-nav button * {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: #ffffff;
                            padding: 10px 10px 10px 15px;
                            border: 1px solid #646464;
                            border-radius: 6px;
                            -webkit-border-radius: 6px;
                            -moz-border-radius: 6px;
                            -ms-border-radius: 6px;
                            -o-border-radius: 6px;
                        }
                
                        .owl-nav span {
                            font-size: 40px;
                            line-height: 20px;
                        }
                
                        .owl-nav span:hover {
                            color: black;
                        }
                
                        .owl-nav button *:hover {
                            // background: #f53838;
                        }
                        .item-1 {
                            max-width: 301px;
                            height: 447px;
                            background: url('../../images/home/main__bottom__2/carousel/1.png');
                            .hover__insta{
                                display: none;
                            }
                        }
                        .item-2 {
                            max-width: 301px;
                            height: 447px;
                            background: url('../../images/home/main__bottom__2/carousel/2.png');
                            .hover__insta{
                                display: none;
                            }
                        }
                        .item-3 {
                            max-width: 301px;
                            height: 447px;
                            background: url('../../images/home/main__bottom__2/carousel/3.png');
                            .hover__insta{
                                display: none;
                            }
                        }
                    }
            }
        }
    } 
}
